<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.calmen.pracgrader">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PracGrader">
        <activity
            android:name=".ui.user_settings.StudentRegistration"
            android:exported="true" />
        <activity
            android:name=".ui.user_settings.StudentSettings"
            android:exported="true" />
        <activity
            android:name=".shared.EditCountry"
            android:exported="true" />
        <activity
            android:name=".shared.EditAttribute"
            android:exported="true" />
        <activity
            android:name=".shared.EditUser"
            android:exported="true" />
        <activity
            android:name=".shared.ConfirmOperation"
            android:exported="true" />
        <activity
            android:name=".ui.user_settings.UserQuery"
            android:exported="true" />
        <activity
            android:name=".shared.ConfirmRegistration"
            android:exported="true" />
        <activity
            android:name=".ui.user_settings.InstructorRegistration"
            android:exported="true" />
        <activity
            android:name=".ui.user_settings.InstructorSettings"
            android:exported="true" />
        <activity
            android:name=".ui.MenuPage"
            android:exported="true" />
        <activity
            android:name=".ui.UserSelection"
            android:exported="true" />
        <activity
            android:name=".ui.Login"
            android:exported="true" />
        <activity
            android:name=".ui.user_settings.AdminRegistration"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>